:root {
  --primary-color: #f26227;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary-color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
